{% extends "templates/includes/_base.html" %}
{% set bodyClass = "account" %}

{% block main %}

  <main>

    {% include "templates/includes/_back-button.html" %}

    <div class="account-info">
      <img src="https://via.placeholder.com/80x80.png" alt="Profile Image" class="profile-image">
      <div class="account-info__content">
        <div class="name">Matt Perry</div>
        <div class="email">matt.perry@originalobjective.com</div>
      </div>
    </div>

    <div class="tabs-wrapper">
      <ul class="nav-tabs">
        <li class="active"><a href="#tab-favourites">Favourites</a></li>
        <li class=""><a href="#tab-account">Account</a></li>
      </ul>
      <div class="tab-content">
        <div id="tab-favourites" class="tab-pane active">
          <h2>Videos</h2>
          <div class="results-list">
            {% include "templates/includes/_listing.html" %}
            {% include "templates/includes/_listing.html" %}
            {% include "templates/includes/_listing.html" %}
            {% include "templates/includes/_listing.html" %}
            {% include "templates/includes/_listing.html" %}
            {% include "templates/includes/_listing.html" %}
            {% include "templates/includes/_listing.html" %}
            {% include "templates/includes/_listing.html" %}
            {% include "templates/includes/_listing.html" %}
          </div>
          <h2>Fisheries</h2>
          <div class="results-list">
            {% include "templates/includes/_listing.html" %}
            {% include "templates/includes/_listing.html" %}
            {% include "templates/includes/_listing.html" %}
            {% include "templates/includes/_listing.html" %}
            {% include "templates/includes/_listing.html" %}
            {% include "templates/includes/_listing.html" %}
            {% include "templates/includes/_listing.html" %}
          </div>
          <h2>Fisheries</h2>
          <div class="results-list">
            {% include "templates/includes/_listing.html" %}
            {% include "templates/includes/_listing.html" %}
            {% include "templates/includes/_listing.html" %}
            {% include "templates/includes/_listing.html" %}
            {% include "templates/includes/_listing.html" %}
            {% include "templates/includes/_listing.html" %}
            {% include "templates/includes/_listing.html" %}
            {% include "templates/includes/_listing.html" %}
          </div>
        </div>
        <div id="tab-account" class="tab-pane">
          <p>Subscription Status: <a href="/admin-subscription.html">Active</a></p>
          <p><a href="/admin-subscription.html" class="button button-bordered button-large button-full">Edit Subscription</a></p>
        </div>
      </div>
    </div>

  </main>

  {% include "templates/includes/_menu-bar.html" %}

{% endblock %}