{% extends "templates/includes/_base.html" %}
{% set bodyClass = "admin" %}

{% block main %}

  <main>

    {% include "templates/includes/_back-button.html" %}

    <h1>Your Subscription</h1>

    <p>Subscription Status: <a href="/admin-subscription.html">Active</a></p>
    <p><a href="/admin-subscription.html" class="button button-bordered button-large button-full">Cancel Subscription</a></p>

  </main>

  <aside>
    <nav class="admin-nav">
      <ul>
        <li><a href="/admin.html">Account</a></li>
        <li><a href="/admin-subscription.html" class="active">Your Subscription</a></li>
        <li><a href="/admin-history.html">Order History</a></li>
        <li><hr></li>
        <li><a href="/admin-about.html">About us</a></li>
        <li><a href="/index.html">Back to the App</a></li>
        <li><a href="/landing.html">Sign Out</a></li>
      </ul>
    </nav>
  </aside>

{% endblock %}