{% extends "templates/includes/_base.html" %}
{% set bodyClass = "admin" %}

{% block main %}

  <main>

    {% include "templates/includes/_back-button.html" %}

    <h1>About Carpers Yard</h1>

    <h2>If you would like to get in touch with us please use the info below</h2>

    <p>
      Carpers Yard Ltd<br>
      Address line 1<br>
      Address line 2<br>
      Somewhere
    </p>

    <p>Email: <a href="mailto:info@carpersyard.co.uk">info@carpersyard.co.uk</a></p>
    <p>Tel: 01234 567890</p>

  </main>

  <aside>
    <nav class="admin-nav">
      <ul>
        <li><a href="/admin.html">Account</a></li>
        <li><a href="/admin-subscription.html">Your Subscription</a></li>
        <li><a href="/admin-history.html">Order History</a></li>
        <li><hr></li>
        <li><a href="/admin-about.html" class="active">About us</a></li>
        <li><a href="/index.html">Back to the App</a></li>
        <li><a href="/landing.html">Sign Out</a></li>
      </ul>
    </nav>
  </aside>

{% endblock %}