{% extends "templates/includes/_base.html" %}
{% set bodyClass = "admin" %}

{% block main %}

  <main>

    {% include "templates/includes/_back-button.html" %}

    <h1>Order History</h1>

    <p>Invoice number 0123456 - <a href="#">Download</a></p>
    <hr>
    <p>Invoice number 0123456 - <a href="#">Download</a></p>
    <hr>
    <p>Invoice number 0123456 - <a href="#">Download</a></p>
    <hr>
    <p>Invoice number 0123456 - <a href="#">Download</a></p>
    <hr>
    <p>Invoice number 0123456 - <a href="#">Download</a></p>
    <hr>
    <p>Invoice number 0123456 - <a href="#">Download</a></p>
    <hr>
    <p>Invoice number 0123456 - <a href="#">Download</a></p>
    <hr>
    <p>Invoice number 0123456 - <a href="#">Download</a></p>
    <hr>
    <p>Invoice number 0123456 - <a href="#">Download</a></p>
    <hr>
    <p>Invoice number 0123456 - <a href="#">Download</a></p>
    <hr>
    <p>Invoice number 0123456 - <a href="#">Download</a></p>
    <hr>
    <p>Invoice number 0123456 - <a href="#">Download</a></p>
    <hr>
    <p>Invoice number 0123456 - <a href="#">Download</a></p>
    <hr>

  </main>

  <aside>
    <nav class="admin-nav">
      <ul>
        <li><a href="/admin.html">Account</a></li>
        <li><a href="/admin-subscription.html">Your Subscription</a></li>
        <li><a href="/admin-history.html" class="active">Order History</a></li>
        <li><hr></li>
        <li><a href="/admin-about.html">About us</a></li>
        <li><a href="/index.html">Back to the App</a></li>
        <li><a href="/landing.html">Sign Out</a></li>
      </ul>
    </nav>
  </aside>

{% endblock %}