{% extends "templates/includes/_base.html" %}
{% set bodyClass = "item-page" %}

{% block main %}

  <main>

    {% include "templates/includes/_back-button.html" %}

    <!-- <div class="fullwidth-image--top">
      <img src="/assets/img/standard-image.jpg" alt="">
    </div> -->


    <div class="fullwidth-image--top">
      <div class="big-image-carousel">
        <div class="slider-wrapper">
          <div class="owl-carousel owl-carousel-big-image">
            <div class="item"><img src="/assets/img/featured-video-image.jpg" alt=""></div>
            <div class="item"><img src="/assets/img/featured-video-image.jpg" alt=""></div>
            <div class="item"><img src="/assets/img/featured-video-image.jpg" alt=""></div>
            <div class="item"><img src="/assets/img/featured-video-image.jpg" alt=""></div>
            <div class="item"><img src="/assets/img/featured-video-image.jpg" alt=""></div>
          </div>
        </div>
      </div>
    </div>

    <div class="heading-group">
      <h1 class="heading-group__heading">Artile title will appear here</h1>
      <h2 class="heading-group__subheading">Author name here</h2>
      {% include "templates/includes/_star-rating-large.html" %}
      {% include "templates/includes/_favourite-button-large.html" %}
    </div>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae modi excepturi rem hic. Quo sint ex culpa iste sit doloribus omnis velit, minus rem nostrum explicabo facere ratione reiciendis nesciunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, itaque! Earum facere natus cumque modi repudiandae aliquid voluptates minus aspernatur soluta aperiam. Facere at suscipit nobis quidem vero repudiandae officiis.</p>

  </main>

  {% include "templates/includes/_menu-bar.html" %}

{% endblock %}