{% extends "templates/includes/_base.html" %}
{% set bodyClass = "item-page" %}

{% block main %}

  <main>

    {% include "templates/includes/_back-button.html" %}

    <div class="fullwidth-image--top">
        <img src="/assets/img/standard-image.jpg" alt="">
    </div>

    <div class="heading-group">
      <h1 class="heading-group__heading">Lake name here</h1>
      <h2 class="heading-group__subheading">1.3 Miles</h2>
      {% include "templates/includes/_star-rating-large.html" %}
      {% include "templates/includes/_favourite-button-large.html" %}
    </div>

    <div class="tabs-wrapper">
      <ul class="nav-tabs">
        <li class="active"><a href="#tab-info">Overview</a></li>
        <li class=""><a href="#tab-videos">Videos</a></li>
        <li class=""><a href="#tab-articles">Articles</a></li>
      </ul>
      <div class="tab-content">
        <div id="tab-info" class="tab-pane active">
        
          <h2>Overview</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, blanditiis deserunt. Mollitia optio minima maxime culpa dolores odio expedita! Labore soluta quam eius veniam molestiae nobis in reiciendis quia laudantium.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id numquam corrupti ea omnis suscipit ipsa excepturi, earum eos facilis a nulla placeat recusandae aut minima delectus enim, pariatur, eveniet minus. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem expedita totam distinctio explicabo. Dolore vel aperiam numquam ad. Ducimus quas cum optio eius excepturi facilis ut modi consequuntur nam illum.</p>

          <ul>
            <li>Lakes - Children 16 &amp; under to be always supervised by an adult.</li>
            <li>Dogs always to be kept on a lead anywhere on the site.</li>
            <li>No dogs by the lakes.</li>
            <li>Please respect the wildlife and all other visitors.</li>
            <li>Vehicles to be left in the car parks and at owners risk.</li>
            <li>The gates are unlocked at 8.00am, earlier starts by arrangement.</li>
            <li>The gates are locked at Sunset.</li>
            <li>Catch and release only -&nbsp;<u>No keep nets.</u></li>
            <li>True Barbless hooks only: No's 22 - 8.</li>
            <li>No braided line.</li>
            <li>No lure fishing</li>
            <li>Sliding feeders only -&nbsp;<u>No fixed Method feeders.</u></li>
            <li>One landing net per person.&nbsp;&nbsp;Nets are&nbsp;NOT&nbsp;to be shared between anglers.</li>
            <li>Handle all fish with care -&nbsp;<u>Wet hands only, no cloths.</u></li>
            <li>For larger fish use unhooking Mats.</li>
            <li>No Radios or Music - Let everyone enjoy the peace and quiet.</li>
            <li>No bait in tins at the lakes.</li>
            <li>Litter and line on or near your peg&nbsp;<u>MUST</u>&nbsp;be removed when you leave.</li>
            <li>No night fishing.</li>
            <li>No removal or introduction of fish.</li>
            <li>Fish from the platforms only.</li>
            <li>No Nuts, Boilies, Pellets, Pastes, Bloodworms or Joker.</li>
            <li>No Dog or Cat meat.</li>
            <li>No seeds, pulses or tares - Hemp and Sweetcorn only.</li>
            <li>There is a 1kg dry weight maximun limit on ground bait.</li>
            <li>No floating bait in matches, or if it is being taken by wildlife.</li>
            <li>Please take left over bait home with you. Do not&nbsp;throw into the lakes or onto the&nbsp;banks.</li>
          </ul>

          <div class="map-wrapper">
            <!-- Map 4:3 aspect ratio -->
            <div class="embed-responsive embed-responsive-4by3">
              <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2394.3266180230826!2d-2.077545048817287!3d53.122282199073425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487a44551284185d%3A0x1e4fc58930f55ad!2sRudyard%20Lake!5e0!3m2!1sen!2suk!4v1576370162839!5m2!1sen!2suk" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
            <!-- // Map -->
          </div>

          <div class="row">
            <div class="col-12">
              <a href="#" target="_blank" class="button button-primary button-full">Visit Website</a>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <a href="#" target="_blank" class="button button-bordered button-full">How to find</a>
            </div>
            <div class="col-6">
              <a href="#" target="_blank" class="button button-bordered button-full">Contact</a>
            </div>
          </div>
          
        </div>

        <div id="tab-videos" class="tab-pane">
          <h2>Videos</h2>
          <div class="results-list">
            {% include "templates/includes/_listing--video.html" %}
            {% include "templates/includes/_listing--video.html" %}
            {% include "templates/includes/_listing--video.html" %}
            {% include "templates/includes/_listing--video.html" %}
            {% include "templates/includes/_listing--video.html" %}
            {% include "templates/includes/_listing--video.html" %}
            {% include "templates/includes/_listing--video.html" %}
            {% include "templates/includes/_listing--video.html" %}
            {% include "templates/includes/_listing--video.html" %}
            {% include "templates/includes/_listing--video.html" %}
          </div>  
        </div>

        <div id="tab-articles" class="tab-pane">
          <h2>Articles</h2>
          <div class="results-list">
            {% include "templates/includes/_listing--article.html" %}
            {% include "templates/includes/_listing--article.html" %}
            {% include "templates/includes/_listing--article.html" %}
            {% include "templates/includes/_listing--article.html" %}
            {% include "templates/includes/_listing--article.html" %}
            {% include "templates/includes/_listing--article.html" %}
            {% include "templates/includes/_listing--article.html" %}
            {% include "templates/includes/_listing--article.html" %}
            {% include "templates/includes/_listing--article.html" %}
            {% include "templates/includes/_listing--article.html" %}
            {% include "templates/includes/_listing--article.html" %}
            {% include "templates/includes/_listing--article.html" %}
          </div> 
        </div>

        <div id="tab-articles" class="tab-pane">
          map
        </div>

      </div>
    </div>

  </main>

  {% include "templates/includes/_menu-bar.html" %}

{% endblock %}