{% extends "templates/includes/_base.html" %}
{% set bodyClass = "fisheries" %}

{% block main %}

  <main>

    {% include "templates/includes/_search-box.html" %}

    <h1>Fisheries</h1>

    <div class="results-list">
      {% include "templates/includes/_listing--fishery.html" %}
      {% include "templates/includes/_listing--fishery.html" %}
      {% include "templates/includes/_listing--fishery.html" %}
      {% include "templates/includes/_listing--fishery.html" %}
      {% include "templates/includes/_listing--fishery.html" %}
      {% include "templates/includes/_listing--fishery.html" %}
      {% include "templates/includes/_listing--fishery.html" %}
      {% include "templates/includes/_listing--fishery.html" %}
      {% include "templates/includes/_listing--fishery.html" %}
      {% include "templates/includes/_listing--fishery.html" %}
      {% include "templates/includes/_listing--fishery.html" %}
      {% include "templates/includes/_listing--fishery.html" %}
      {% include "templates/includes/_listing--fishery.html" %}
      {% include "templates/includes/_listing--fishery.html" %}
      {% include "templates/includes/_listing--fishery.html" %}
      {% include "templates/includes/_listing--fishery.html" %}
      {% include "templates/includes/_listing--fishery.html" %}
      {% include "templates/includes/_listing--fishery.html" %}
      {% include "templates/includes/_listing--fishery.html" %}
      {% include "templates/includes/_listing--fishery.html" %}
      {% include "templates/includes/_listing--fishery.html" %}
      {% include "templates/includes/_listing--fishery.html" %}
      {% include "templates/includes/_listing--fishery.html" %}
      {% include "templates/includes/_listing--fishery.html" %}
      <a href="" class="btn btn--hollow btn--full">Load More</a>
    </div>

  </main>

{% endblock %}