{% extends "templates/includes/_base.html" %}
{% set bodyClass = "fishery-item" %}

{% block main %}

  <main>

    {% include "templates/includes/_back-button.html" %}

    <div class="fishery-image fullwidth-image--top">
      <img src="https://via.placeholder.com/640x480.png" alt="" class="pure-img">
    </div>

    {% include "templates/includes/_favourite-button-large.html" %}

    <h1>Lake name here</h1>
    <h2>1.3 Miles</h2>

    {% include "templates/includes/_star-rating-large.html" %}

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae modi excepturi rem hic. Quo sint ex culpa iste sit doloribus omnis velit, minus rem nostrum explicabo facere ratione reiciendis nesciunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, itaque! Earum facere natus cumque modi repudiandae aliquid voluptates minus aspernatur soluta aperiam. Facere at suscipit nobis quidem vero repudiandae officiis.</p>

  </main>

{% endblock %}