{% extends "templates/includes/_base.html" %}
{% set bodyClass = "holding" %}

{% block main %}

  <div class="holding-main">

    <div class="row holding-row">

      <div class="col-12 col-md-6 holding-left">
        <header class="holding-logo">
          <img src="./assets/img/carpers-yard-logo.png" alt="Carpers Yard">
        </header>

        <h1>Discover, watch and read amazing content from some of the worlds most adventurous fishermen</h1>
        <p>Our App is coming soon, register your interest today!</p>

        <!-- <a href="/signup.html" class="button button-primary button-large">Sign up</a> -->

        <!-- login form -->
        <form action="/" class="interest-form">
          <div class="row">
            <div class="col-8">
              <div class="form-group">
                <input type="email" class="form-control" id="exampleInput" placeholder="Your email">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <button type="submit" class="button button-primary button-full">Submit</button>
              </div>
            </div>
          </div>
        </form>
        <div class="app-download-links">
          <a href="#" class="appstore-link">
            <img src="./assets/img/appstore.png" class="responsive-img" alt="App Store">
          </a>
          <a href="#" class="googleplay-link">
            <img src="./assets/img/googleplay.png" class="responsive-img" alt="Google Play">
          </a>
        </div>
      </div>

      <div class="col-12 col-md-6 holding-right">
        <div class="mockup">
          <img src="./assets/img/mockup.png" class="responsive-img">
        </div>
      </div>

    </div>

    

    

    

  </div>

{% endblock %}