{% extends "templates/includes/_base.html" %}
{% set bodyClass = "login" %}

{% block main %}

  <main class="login">

    <h1>Login</h1>

    {% include "templates/includes/_back-button.html" %}

    <!-- login form -->
    <form action="/" class="">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" id="exampleInput" placeholder="Your email">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-12">
          <div class="form-group">
            <button type="submit" class="button button-primary button-large button-full">Login</button>
          </div>
        </div>
      </div>
    </form>

  </main>

{% endblock %}