{% extends "templates/includes/_base.html" %}
{% set bodyClass = "signup" %}

{% block main %}

  <main class="signup">

    <h1>Sign up</h1>

    {% include "templates/includes/_back-button.html" %}

    <form action="#" class="">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label>Card Number</label>
            <input type="email" class="form-control" id="exampleInput" placeholder="Enter Card Number">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label>Month</label>
            <input type="text" class="form-control" placeholder="MM" />
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label>Year</label>
            <input type="text" class="form-control" placeholder="YY" />
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label>CCV</label>
            <input type="text" class="form-control" placeholder="" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="">Name on the card</label>
            <input type="text" class="form-control" placeholder="" />
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-12">
          <div class="form-group">
            <input type="submit" class="button button-primary button-large button-full" value="Pay Now" />
          </div>
        </div>
      </div>
    </form>

  </main>

{% endblock %}