.card-carousel {
  @extend .section-padding;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 16px;
  }

  &__heading {
    font-size: 24px;
    margin: 0;

    @media (min-width: $break-large) {
      font-size: 32px;
    }
  }

  &__link {
    flex: 0 0 auto;
    margin-left: 16px;
    font-size: 80%;

    @media (min-width: $break-large) {
      font-size: 100%;
    }
  }

  // .card-slider,
  // .card-slider-1,
  // .card-slider-2,
  // .card-slider-3,
  // .card-slider-4,
  // .card-slider-5,
  // .card-slider-6,
  // .card-slider-7,
  // .card-slider-8,
  // .card-slider-9,
  // .card-slider-10,
  // .card-slider-11,
  // .card-slider-12,
  // .card-slider-13 {
  //   opacity: 0;
  //   visibility: hidden;
  //   transition: opacity 1s ease;
  //   -webkit-transition: opacity 1s ease;

  //   &.slick-initialized {
  //     visibility: visible;
  //     opacity: 1;    
  //   }
  // }
}