.card {
  position: relative;

  &__link {
    transition: all 0.15s linear;

    &:hover,
    &:focus {
      background: rgba($primary-color,0.1);
      border-radius: $border-radius;
    }
  }
  
  &__image {
    position: relative;
    display: inline-block;

    img {
      width: 100%;
      max-height: 150px;
      object-fit: cover;
      border-radius: $border-radius;

      @media (min-width: $break-large) {
        border-radius: $border-radius-large;
      }
    }

    i {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -20px;
      margin-left: -20px;
      font-size: 40px;
      color: $primary-color;
      transition: all 0.15s linear;
      text-shadow: 0 0 20px black
    }

    &:hover,
    &:focus {

      i {
        color: $accent-color;
      }
    }
  }

  &__content {
    margin-top: 8px;
  }

  &__heading {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 4px;
    color: $primary-color !important;
    transition: all 0.15s linear;

    &:hover,
    &:focus {
      color: $accent-color !important;
    }
  }

  &__subheading {
    font-size: 80%;
    color: $secondary-color;
    margin-bottom: 8px;
  }

  .favourite-button {
    position: absolute;
    top: 4px;
    right: 4px;
  }
}