.favourite-button-large {

  a {
    background: white;
    color: $custom-color-1;
    width: 54px;
    height: 54px;
    border-radius: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    transition: all 0.15s linear;

    &:hover,
    &.active {
      background: $accent-color;
      color: white;
    }
  }

  &.active {

    a {
      background: $accent-color;
      color: white;
    }
  }
}