.favourite-button,
.favourite-button:visited {
  color: white;
  font-size: 16px;
  background-color: transparent;
  width: 32px;
  height: 32px;
  border-radius: 99px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.15s linear;

  &:focus {
    background-color: rgba($custom-color-1,0.5);
    color: white;
  }

  &:hover,
  &.active {
    background-color: $accent-color;
    color: white;
  }
}