.feed-card {
  position: relative;
  margin: 0 -24px 24px -24px;
  background: white;
  border-bottom: 3px solid $accent-color;

  @media (min-width: 768px) {
    flex: 1 1 calc(100% / 2 - 24px);
    margin: 12px;
    margin-bottom: $pad-unit;
  }

  @media (min-width: $break-large) {
    flex: 1 1 calc(100% / 3 - 24px);
  }

  &__top {
    padding: 6px 12px;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    color: $custom-color-1;

    &:hover,
    &:focus {
      color: $accent-color !important;
    }
  }

  &__user-image {
    margin-right: 4px;

    img {
      border-radius: 99px;
      height: 32px;
      width: 32px;
      border: 2px solid $accent-color;
    }
  }

  &__link {
    transition: all 0.15s linear;
  }
  
  &__image {
    position: relative;
    display: block;

    img {
      width: 100%;
    }

    i {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -20px;
      margin-left: -20px;
      font-size: 40px;
      color: $primary-color;
      transition: all 0.15s linear;
      text-shadow: 0 0 20px black
    }

    &:hover,
    &:focus {

      i {
        color: $accent-color;
      }
    }
  }

  &__content {
    position: relative;
    margin: 12px;
  }

  &__likes {
    font-size: 0.8rem;
    margin-bottom: 6px;
  }

  &__heading {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.2;
    color: $custom-color-1;
    padding-bottom: 12px;

    a {
      color: $accent-color;
      transition: all 0.15s linear;

      &:hover,
      &:focus {
        color: $custom-color-1;
      }
    }
  }

  &__subheading {
    font-size: 80%;
    color: $secondary-color;
    margin-bottom: 8px;
  }

  .favourite-button {
    position: absolute;
    top: -36px;
    right: 0;
    background: #ffffff;
    box-shadow: 0 0 10px #00000038;
    height: 40px;
    width: 40px;

    i {
      color: $custom-color-1;
      font-size: 22px;
    }

    &.active,
    &:hover,
    &:focus {
      background: $accent-color;

      i {
        color: white;
      }
    }

    
  }
}