.menu-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(white,1);
  z-index: 9999;

  @media (min-width: $break-large) {
    right: unset;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100px;
  }

  &__logo {
    display: none;
  }

  nav {
    height: 54px;

    @media (min-width: $break-large) {
      display: flex;
      justify-content: center;
      align-items: center;
      height: unset;
    }

    ul {
      display: flex;
      justify-content: space-around;
      padding: 5px;

      @media (min-width: $break-large) {
        padding: 30px 0;
        height: 320px;
        justify-content: space-between;
        flex-direction: column;
      }

      .nav-button {
        color: $custom-color-2;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 44px;
        height: 44px;
        transition: all 0.15s linear;

        i {
          font-size: 24px;
        }

        svg {
          height: 24px;
          fill: $custom-color-2;
          margin-bottom: 2px;
        }

        &__label {
          display: block;
          font-size: 9px;

          @media (min-width: $break-large) {
            display: block;
            font-size: 13px;
          }
        }

        &:hover,
        &:focus,
        &.active {
          color: $accent-color;

          svg {
            fill: $accent-color;
          }
        }

        // &.active {
        //   border-radius: 99px;
        //   background-color: $accent-color;
        //   color: white;

        //   i {
        //     color: white;
        //   }
        // }
      }
    }
  }
}