.search-box {
  @extend .section-padding;
  display: flex;

  input {
    border: none;
    line-height: 44px;
    height: 44px;
    padding: 0 16px;
    display: block;
    box-sizing: border-box;
    width: calc(100% - 44px) !important;
    border-radius: 8px 0 0 8px !important;
    font-size: 20px;
    color: $custom-color-1;
    outline: none;
    -webkit-appearance: none;
  }

  button {
    width: 44px;
    height: 44px;
    text-align: center;
    border-radius: 0 8px 8px 0;
    padding: 0;
    background: $accent-color;
    border: none;

    &:hover,
    &:focus {
      background: rgba($accent-color,0.5);
    }

    i {
      color: white;
      font-size: 22px;
      line-height: 44px;
    }

  }
  
}





.advanced-search {
  display: none;
  background: $custom-color-1;
  z-index: 3;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: $pad-unit $pad-unit 78px $pad-unit;
  overflow-y: auto;

  @media (min-width: $break-large) {
    padding: $pad-unit-large $pad-unit-large $pad-unit-large 132px;
  }

  &.toggled {
    display: block;
  }

  form {
    margin: 0 0 100px 0;
  }

  &-button {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 24px 98px 24px;
    background: $custom-color-1;

    @media (min-width: $break-large) {
      padding: 0 $pad-unit-large $pad-unit-large 132px;
    }
  }
}

.search-open {  
  margin-left: 12px;
  color: $accent-color;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 44px;

  i {
    font-size: 24px;
  }
  .label {
    margin-top: 2px;
    font-size: 9px;
  }
}

.search-close {
  position: absolute;
  top: 24px;
  right: 24px;
  font-size: 20px;
  transition: all 0.15s linear;
  color: $accent-color;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 44px;

  @media (min-width: $break-large) {
    top: 32px;
    right: 32px;
  }

  &:hover {
    color: white;
  }

  i {
    font-size: 24px;
  }
  .label {
    margin-top: 2px;
    font-size: 9px;
  }
}




.search-list {
  margin: 0 -24px 24px -24px;
  display: block;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  &::-webkit-scrollbar { width: 0 !important }


  li {
    margin: 2px;
    display: inline-block;
    &:first-child {
      margin-left: 24px;
    }
    &:last-child {
      margin-right: 24px;
    }
  }

  a {
    border: 1px solid $accent-color;
    color: $accent-color;
    padding: 10px 20px;
    font-size: 0.8rem;
    border-radius: 4px;
    display: block;
    
    &:hover,
    &:focus,
    &.active {
      background: $accent-color;
      color: $custom-color-1;
    }
  }
}


.search-option {
  margin: 0 0 2rem 0;

  h3 {
    margin: 0 0 0.5rem 0;
  }

  .form-check-inline {
    padding: 0;
    margin: 4px 1px;
  }

  .form-check-input {
    display: none;

    &:checked + label {
      background: $accent-color;
      color: $custom-color-1;
    }
  }
  .form-check-label {
    border: 1px solid $accent-color;
    color: $accent-color;
    padding: 0.6rem 1rem;
    font-size: 0.7rem;
    border-radius: 4px;
    display: block;
    
    &:hover,
    &:focus,
    &.active {
      background: $accent-color;
      color: $custom-color-1;
    }
  }
}