.star-rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  i {
    color: $accent-color;
    font-size: 10px;
    margin-right: 3px;
    display: inline;
  }

  span {
    color: $secondary-color;
    font-size: 11px;
  }

  &--large {

    i {
      font-size: 14px;
      margin-right: 5px;
    }

    span {
      font-size: 15px;
      margin-left: 5px;
    }
  }
}