<div class="cy-card">
  <a href="/video-item.html" class="cy-card__image">
    <!-- <img src="./assets/img/video-image.jpg" alt=""> -->
    <img
      srcset="
      https://via.placeholder.com/400x560 768w,
      https://via.placeholder.com/200x280 460w"
    >
  </a>
  <div class="cy-card__content">
    <a href="/video-item.html" class="cy-card__heading">Video title here</a>
    <div class="cy-card__subheading">Author name</div>
  </div>
  {% include "templates/includes/_favourite-button.html" %}
</div>