<div class="card-carousel">
  <div class="card-carousel__header">
    <h2 class="card-carousel__heading">Heading here</h2>
    <a href="/results.html" class="card-carousel__link">View All</a>
  </div>
  <div class="slider-wrapper">
    <div class="card-slider">
      <div class="tns-item">{% include "templates/includes/_card.html" %}</div>
      <div class="tns-item">{% include "templates/includes/_card.html" %}</div>
      <div class="tns-item">{% include "templates/includes/_card.html" %}</div>
      <div class="tns-item">{% include "templates/includes/_card.html" %}</div>
      <div class="tns-item">{% include "templates/includes/_card.html" %}</div>
      <div class="tns-item">{% include "templates/includes/_card.html" %}</div>
      <div class="tns-item">{% include "templates/includes/_card.html" %}</div>
      <div class="tns-item">{% include "templates/includes/_card.html" %}</div>
      <div class="tns-item">{% include "templates/includes/_card.html" %}</div>
      <div class="tns-item">{% include "templates/includes/_card.html" %}</div>
      <div class="tns-item">{% include "templates/includes/_card.html" %}</div>
      <div class="tns-item">{% include "templates/includes/_card.html" %}</div>
    </div>
  </div>
</div>