<div class="feed-card">
  <a href="/fisher-item.html" class="feed-card__top">
    <div class="feed-card__user-image">
      <img src="https://picsum.photos/50/50" alt="">
    </div>
    <div class="feed-card__user">@dillorscroft</div>
  </a>
  <a href="/fishery-item.html" class="feed-card__link">
    <div class="feed-card__image">
        <img src="https://picsum.photos/400/400" alt="">
    </div>
  </a>
  <div class="feed-card__content">
    {% include "templates/includes/_favourite-button.html" %}
    <div class="feed-card__likes">315 likes</div>
    <div class="feed-card__heading">
      <a href="/fishery-item.html">@dillorscroft</a> Feed title name here and it could be a lot longer and go on to 2 lines
    </div>
  </div>
</div>