<aside class="menu-bar">
  <nav>
    <ul>
      <li>
        <a href="/index.html" class="nav-button active">
          <i class="fas fa-home"></i>
          <div class="nav-button__label">Home</div>
        </a>
      </li>
      <li>
        <a href="/feed.html" class="nav-button">
          <i class="fas fa-newspaper"></i>
          <div class="nav-button__label">Feed</div>
        </a>
      </li>
      <li>
        <a href="/fisheries.html" class="nav-button">
          <i class="fas fa-search"></i>
          <div class="nav-button__label">Fisheries</div>
        </a>
      </li>
      <li>
        <a href="/videos.html" class="nav-button">
          <i class="fas fa-video"></i>
          <div class="nav-button__label">Videos</div>
        </a>
      </li>
      <li>
        <a href="/store.html" class="nav-button">
          <i class="fas fa-shopping-cart"></i>
          <div class="nav-button__label">Store</div>
          <span class="badge">2</span>
        </a>
      </li>
      <li>
        <a href="/account.html" class="nav-button">
          <i class="fas fa-user"></i>
          <div class="nav-button__label">Account</div>
        </a>
      </li>
    </ul>
  </nav>
</aside>