.landing-main {
  height: 100vh;
  width: 100vw;
  // box-sizing: border-box;
  padding: $pad-unit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(black,0.6);

  @media (min-width: $break-large) {
    padding: $pad-unit-large;
  }
}


.landing-logo {
  position: absolute;
  top: 15vh;
  left: 0;
  right: 0;
  text-align: center;

  img {
    height: 70px;

    @media (min-width: $break-tablet) {
      height: 100px;
    }
    @media (min-width: $break-large) {
      height: 100px;
    }
  }
}



.app-download-links {
  display: flex;
  flex-direction: column;

  a {
    margin-bottom: 8px;
    &:last-of-type {
      margin-bottom: 0;
    }

    img {
      height: 50px;

      @media (min-width: $break-tablet) {
        height: 60px;
      }
    }
  }
}



.bottom-buttons {
  position: absolute;
  bottom: $pad-unit;
  left: $pad-unit;
  right: $pad-unit;
  display: block;

  @media (min-width: $break-tablet) {
    bottom: 15vh;
    max-width: 360px;
    margin: 0 auto;
  }
  @media (min-width: $break-large) {
    left: $pad-unit-large;
    right: $pad-unit-large;
  }

  a {
    margin-bottom: 16px;
    &:last-of-type {
      margin-bottom: 0;
    }

    @media (min-width: $break-large) {
      
    }
  }
}







.holding {
  

  .holding-main {
    height: auto;
    padding: 24px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/assets/img/holding-background-mobile.jpg') center center no-repeat;
    background-size: cover;

    @media (min-width: 768px) {
      height: 100vh;
      background: url('/assets/img/holding-background.jpg') center center no-repeat;
      background-size: cover;
    }

    @media (min-width: $break-large) {
      padding: $pad-unit-large;
    }
  }

  .holding-row {
    margin: 0;
    padding: 0;
  }

  .holding-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .holding-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }



  .holding-logo {
    text-align: center;

    @media (min-width: 768px) {
      text-align: left;
    }

    img {
      height: 62px;
      margin-bottom: 48px;
      text-align: center;

      @media (min-width: $break-large) {
        height: 74px;
      }
    }
  }

  h1 {
    margin: 0;
  }

  p {
    margin-bottom: $pad-unit;

    @media (min-width: $break-large) {
      margin-bottom: $pad-unit-large;
    }
  }

  form {

    .form-group {

      button {
        line-height: 36px;
        padding: 0;
      }
    }
  }

  .app-download-links {
    display: flex;
    flex-direction: row;
    margin: -5px;
    margin-top: 24px;

    @media (min-width: $break-large) {
      margin: -10px;
    }

    img {
      margin: 5px;
      height: 45px;

      @media (min-width: $break-large) {
        margin: 10px;
        height: 60px;
      }
    }
  }

  .mockup {
  
    img {
      max-height: calc(100vh - 48px);
      margin-top: 24px;
      margin-bottom: 24px;
    }
  }
}






// admin pages

// .admin main {
//   padding: $pad-unit;
//   margin: 0 auto;
//   margin-top: $pad-unit;
//   max-width: 768px;

//   @media (min-width: $break-large) {
//     padding: $pad-unit-large;
//   }
// }

// // app admin pages

// .app-admin main {
//   padding: $pad-unit;
//   margin: 0 auto;
//   margin-top: $pad-unit;
//   max-width: 768px;

//   @media (min-width: $break-large) {
//     padding: $pad-unit-large;
//     margin: 24px auto 0 auto;
//   }
// }




body.admin {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: stretch;
    min-height: 100vh;
  }

  .back-button {
    color: white;
    &:hover,
    &:focus {
      color: $custom-color-1;
    }
  }

  main {
    flex: 1;
    order: 2;
    padding: calc(#{$pad-unit} * 2) $pad-unit $pad-unit $pad-unit;
    margin: 0;

    @media (min-width: $break-large) {
      padding: calc(#{$pad-unit-large} * 2) $pad-unit-large $pad-unit-large $pad-unit-large;
    }
  }

  aside {
    flex: 0 0 300px;
    order: 1;
    background: $accent-color;
    padding: calc(#{$pad-unit} * 2) $pad-unit $pad-unit $pad-unit;

    @media (max-width: 767px) {
      flex: 0;
      padding: calc(#{$pad-unit} * 2) $pad-unit $pad-unit $pad-unit;
    }
    @media (min-width: $break-large) {
      padding: calc(#{$pad-unit-large} * 2) $pad-unit-large $pad-unit-large $pad-unit-large;
    }
  }
}

.admin-nav {

  ul {
    margin: 0;

    @media (max-width: 767px) {
      white-space: nowrap; /* [1] */
      overflow-x: auto; /* [2] */
      -webkit-overflow-scrolling: touch; /* [3] */
      -ms-overflow-style: -ms-autohiding-scrollbar; /* [4] */
      margin: 0 -24px;
      padding: 0 24px;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    li {
      list-style: none;
      color: $custom-color-1;
      margin-bottom: 16px;

      @media (max-width: 767px) {
        display: inline-block;
        margin-right: 16px;
        margin-bottom: 0;
      }

      a {
        color: $custom-color-1;
        font-weight: bold;
        &:hover,
        &:focus,
        &.active {
          color: white;
        }
      }
    }
  }
}