// Bootstrap Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Bootstrap Optional
@import 'node_modules/bootstrap/scss/grid';
@import 'node_modules/bootstrap/scss/forms';
@import 'node_modules/bootstrap/scss/utilities/embed';

// Tiny Slider
@import 'node_modules/tiny-slider/src/tiny-slider';


/*--------------------------------------------------------------
# Imports
--------------------------------------------------------------*/
@import './fonts.scss';
@import './variables.scss';
@import './reset.scss';
@import './mixins.scss';
@import './base.scss';
@import './utilities.scss';
@import './forms.scss';
@import './pages.scss';

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
@import './module/_menu-bar.scss';
@import './module/_star-rating.scss';
@import './module/_star-rating-large.scss';
@import './module/_favourite-button.scss';
@import './module/_favourite-button-large.scss';
@import './module/_back-button.scss';
@import './module/_tabs.scss'; // account tabs
@import './module/_account-info.scss';
@import './module/_results-list.scss';
@import './module/_listing.scss';
@import './module/_search-box.scss';


/*--------------------------------------------------------------
# featured carousel
--------------------------------------------------------------*/

@import './module/_featured-carousel.scss';
@import './module/_featured.scss';

/*--------------------------------------------------------------
# card carousel
--------------------------------------------------------------*/

@import './module/_card-carousel.scss';
@import './module/_card.scss';














.heading-group {
  margin-bottom: $pad-unit;
  position: relative;

  @media (min-width: $break-large){
    margin-bottom: $pad-unit-large;
  }

  &__heading {
    font-size: 1.75rem;
    display: inline-block;
    margin-bottom: 4px;
    color: $primary-color !important;
    transition: all 0.15s linear;
  }

  &__subheading {
    font-size: 1rem;
    color: $secondary-color;
    margin-bottom: 8px;
  }

  .favourite-button-large {
    position: absolute;
    top: -54px;
    right: 0;
  }
}

